.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    height: 50vh;
}

.centered-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}