.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140vh;
}

.centered-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.scroll-container {
    overflow: auto;
    height: 180vh;
}

table {
    border-spacing: 10px;
    
}

