.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140vh;
}

.centered-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.scroll-container {
    overflow: auto;
    height: 180vh;
}

table {
    position: relative;
    border-spacing: 10px;
    
}

.button {
    top: 100%;
    left: 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-row {
    position: relative;
    bottom:  100px;
    left: 550px;
    
}

.formulario {
    position: relative;
    top: 0px;
    left: 180px;
}

.selector {
    position: relative;
    bottom: 105px;

}

.centered {
    text-align: center;
}



